{% extends 'base.html' %}

{% block base %}

<div class="container mt-5">

    <div class="row">

        <div class="col-md-6">
            <img src="{{ vehicle.image.url }}" class="img-fluid rounded">
        </div>

        <div class="col-md-6">

            <h2>{{ vehicle.vehicle_name }}</h2>

            <hr>

            <p><strong>Brand :</strong> {{ vehicle.brand }}</p>

            <p><strong>Model :</strong> {{ vehicle.model }}</p>
            <p><strong>Year :</strong> {{ vehicle.year }}</p>
            <p><strong>Registration_Number :</strong> {{ vehicle.registration_number }}</p>
            <p><strong>Vehicle Type :</strong> {{ vehicle.vehicle_type }}</p>

            <p><strong>Fuel Type :</strong> {{ vehicle.fuel_type }}  

            <p><strong>Seating Capacity :</strong> {{ vehicle.seating_capacity }}</p>

            <p><strong>Rent Per Day :</strong> ₹{{ vehicle.rent_per_day }}</p>

            <p><strong>Status :</strong> {{ vehicle.status }}</p>
            <p><strong>Created_at :</strong> {{ vehicle.created_at }}</p>

            <p><strong>Description :</strong></p>
         

            <p>{{ vehicle.description }}</p>

           {% if vehicle.status == "Available" %}

<a href="{% url 'booking' vehicle.id %}" class="btn btn-primary">
    Book Now
</a>

{% else %}

<button class="btn btn-secondary" disabled>
    Under Maintenance
</button>

{% endif %}


<hr class="mt-5">
{% if average_rating %}
<p class="fs-5">
    ⭐ Average Rating: {{ average_rating|floatformat:1 }}/5
</p>
{% endif %}

<h3 class="mb-4">
    ⭐ Customer Reviews
</h3>


{% if feedbacks %}

{% for feedback in feedbacks %}

<div class="card mb-3 shadow-sm">

    <div class="card-body">

        <h5>
            👤 {{ feedback.user.username }}
        </h5>

        <p>
            ⭐ {{ feedback.rating }}/5
        </p>

        <p>
            💬 {{ feedback.comment }}
        </p>

        <small class="text-muted">
            📅 {{ feedback.created_at|date:"d M Y" }}
        </small>

    </div>

</div>

{% endfor %}


{% else %}

<div class="alert alert-info">
    No reviews available for this vehicle.
</div>

{% endif %}
</div>
</div>
</div>

{% endblock %}